.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  /* https://www.cnblogs.com/coco1s/p/4370485.html */
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 2rem; */
  background-color: black;
  text-align: center;
  color: aliceblue;
}
/* https://www.webtech.tw/info.php?tid=CSS_DIV_%E5%8D%80%E5%A1%8A%E5%85%A7%E7%9A%84%E6%96%87%E5%AD%97%E5%9E%82%E7%9B%B4%E7%BD%AE%E4%B8%AD */
.navbar div {
  width: 100%;
  /* text-align: center;  */
  color: aliceblue;
}

body {
  padding-bottom: 2rem;
}
.subtitle {
  font-weight: bold;
}